git+https://github.com/huggingface/diffusers
accelerate
transformers
gradio==4.7.1
Pillow==10.1.0
sentencepiece==0.1.99
optimum
beautifulsoup4
ftfy
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1


